<form action="/Perfil/Adiciona" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("perfil.NomeJaCadastrado", null, new { @class = "label btn-danger" })
    @Html.ValidationMessage("perfil.txNome", null, new { @class = "label btn-danger" })
    <br /><br />

    <label for="nome">Nome:</label>
    <input id="nome" name="categoriaDoProduto.Nome" value="@ViewBag.perfil.txNome" class="form-control" maxlength="30" size="30" />
    <br />
    <div class="col-md-12">
        @Html.ActionLink("Listar", "Index", "Perfil", null, new { @class = "btn btn-info btn-xs pull-right" })
        <input type="submit" value="Incluir" class="btn btn-info btn-xs pull-right" />
    </div>
</form>
